* {
    /* 重置页面 */
    padding:0;
    margin:0;
    list-style-type:none;
}

html {
    /*background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);*/
}

/* 页面主容器样式 */
body {
    width:100%;/* 宽度 */
    height::100%;/* 宽度 */
    margin: 0 auto; /* 边界auto为自动，这里用到了缩写形式意思为上下为0，左右自动 */
    /* background:#666666 */
}

/* 页面头部 */
.header {
    width:100%;
    height: 100px;
    margin: 0 auto;
    overflow:hidden; /* 防止div被撑开，超过div大小就隐藏 */
    background:#666666; /* 背景色 */
    border-bottom: thick inset #999999;
}

/* 页面中间主体 */
.midbody {
    margin-left: auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    max-width: 1000px;
    min-height:1000px;
    font-family: Verdana,verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333333;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

/* 页面底部 */
.footer {
    width:100%;
    height:80px;
    margin:0px auto;
    background: #333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);
    border-top: thick double #999999;
    font-size: 14px;
    color: #939399;
    position: relative;
    padding-bottom: 20px
}

/**
 * 以下为页面头部相关样式
 */
.head-time {
    width:100%;
    height:20px;
    margin:0 auto; /* 两个值时为:上下; 四个值时为:上 右 下 左 */
    text-align: right;
}

.head-logo {
    width:100%;
    height:80px;
    max-width: 800px;
    margin:0 auto; /* 两个值时为:上下; 四个值时为:上 右 下 左 */
}

/**
 * 以下为页面主体相关样式
 */
.item a
{
    color: #666666;
    font-family: Verdana,verdana;
    font-size:15px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 4px;
    text-decoration:none; /* 去掉下划线 */
}

.item a:hover
{
    color: #C00;
}

div .category
{
    clear: both;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

div .title
{
    clear: both;
    color: #fff;
    font-size:14px;
    display:block;
    font-weight:bolder;
    margin-top:10px;
    padding-left: 6px;
    border-bottom: 2px dashed #cccccc;
}

div .title .shade {
    width: 120px;
    padding: 6px;
    text-align:center;
    background-color:#666666;
    border-radius: 0px 20px; /* 左上角、右上角、右下角、左下角（顺时针顺序 )*/
}

div .item
{
    float: left;
    width: 150px;
    margin-left: 30px;

    /* 文本超出宽度时显示省略号 */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item img
{
    width: 18px;
    height: 18px;
    margin: 0px;
    padding:0px;
    border: 0px;
    background-color:white;
    margin-left: 15px;
}

/**
 * 以下是搜索框相关样式
 */
#searcharea
{
    clear: both;
    width: 100%;
    height: 100px;
    padding : 0px;
}

.searchareawraper
{
    position:relative;
    clear: both;
    height: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.searchBoxTextInput
{
    border:1px solid #a0b9a6;
    color:#333;
    outline:medium none;
    font:17px arial,sans-serif;
    height: 32px;
    line-height:28px;
    width: 76%;
    text-indent:6px;
    float: left;

}

.searchBoxButtonInput
{
    border: 0px;
    background-color:#79a027;
    color: white;
    height: 32px;
    font-weight: bold;
	font-family: "Lucida Grande", Verdana;
    cursor:pointer;
    border-radius:4px;
    width: 96px;
    float: left;
    margin-left: 8px;
    padding: 2px;
}

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

.form-wrapper {
    width: 580px;
    padding: 15px;
    margin: 10px auto 10px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.form-wrapper input {
    width: 460px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before{
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.content-foot {
    margin: 20px auto;
    text-align:center;
    font-size: 15px;
}

.head-time span {
    margin-right: 10px;
    font-size: 14px;
    color: #CCCBBB;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/**
 * 以下是快速跳转到顶部和底部的相关样式
 */
.go {
    width:48px;
    height:106px;
    background-color:#FFF;
    position:fixed;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    right:12px;
    bottom:20%;
    border-radius:5px;
    box-shadow:0 0 2px #6E6E6E;
    *border:solid 1px #ddd;
}

.go a {
    background:url(../imgs/retop.png) no-repeat;
    display:block;text-indent:999em;
    width:37px;
    margin:5px;
    border:0;
    overflow:hidden;
    float:left
}

.go .top {
    background-position:4px 7px;
    height:22px
}

.go .top:hover {
    background-position:-34px 7px;
}

.go .feedback {
    background-position:4px -18px;
    height:32px
}

.go .feedback:hover {
    background-position:-34px -18px
}

.go .bottom {
    background-position:4px -56px;
    height:22px
}

.go .bottom:hover {
    background-position:-34px -56px
}

/**
 * 人性时钟样式
 */
.hone {
    /* 原始布局 */
    margin:0 auto;


    /* 旧的布局 */
    /*position:absolute;
    margin-left:0px;
    margin-top:800px;
    top:100%;
    left:1%;*/

    /* 页面左侧布局 */
    /*width:48px;
    height:80px;
    position:fixed;
    left:10px;
    bottom:10%;*/
}


/**
 * 以下为页脚相关的样式
 */
.logo_footer {
    position: absolute;
    text-align:center;
    width: 100%;
    top: 10px;
}

.logo_footer img {
    /*display: block;*/
    max-width: 100%;
    margin: 25px 10px;
    height: auto;
    vertical-align: middle;
    border: 0;
    opacity: 0.5;
}

.logo_footer img:hover {
    opacity: 1;
}

.container_footer {
    margin:25px auto;
    padding-left; 15px;
    padding-right: 15px;
    max-width: 1230px;
}

.social img:hover {
    opacity: 0.2;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
 }

.row-address {
    clear: both;
}

.column-left {
    padding: 0;
    width: 41.66667%;
    float: left;
    position: relative;
    min-height: 1px;
}

.column-right-offset {
    padding: 0;
    width: 41.66667%;
    margin-left: 16.66667%;
    float: left;
    position: relative;
    text-align: right;
}

.container_footer a {
    text-decoration: none;
    color: inherit;
}

.container_footer a:hover {
    color: #A64A57;
}

.container_footer p {
    font-size: 0.8em;
}

.container_footer ul {
    margin-left: 15px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.container_footer li {
    margin-right: 15px;
    margin-bottom: 0px;
    margin-bottom: 15px;
    font-size: 1em;
    display: inline;
}

/**
 * 以下样式用于其他页面
 */
.mediatediv{
    width: 1000px;
    height: auto;
    margin: 100px auto;
    border: 1px solid #333;
}


/**
 * 鼠标悬停显示的图片
 */
.wxImg {
    display:none;
    height:20px;
    width:20px;
    background:#f00;
    position:absolute;
    left:10px;
    bottom:10%;
}